*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header{
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  align-items: center;
}

header ul{
  display: flex;
  gap: 26px;
  font-weight: bold;
}

header a{
  display: block;
  line-height: 46px;
  margin: 10px 0;
  color: #FFF;
}

.centro{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.centro.dark{
  background-color: #242424;
}

.switch{
  line-height: 40px;
  background-color: black;
  color: white;
  padding: 0 26px;
  border-radius: 8px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  transition-duration: 300ms;
}

.dark + .switch{
  background-color: white;
  color: black;
}

button{
  background-color: blueviolet !important;
  padding: 0 26px;
  border-radius: 8px;
  color: #FFF;
  border: 0;
  line-height: 46px;
}

h1{
  text-align: center;
}

.sanfonas{
  display: flex;
  gap: 50px
}

.sanfonas li{
  flex: 1;
}